.pascalxdownload {
    background-color: #3838f9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.3s ease 0s;
}


.pascalxdownload:hover {
    background-color: #4d4dff;
    color: white;
    text-decoration: none;
}